body{
    min-height:100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    font-family: helvetica;
}
.teks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.kalkulator{    
    display: flex;
    flex-direction: column;
    width:320px;
    padding: 10px 0;
    border: #921d1d solid;
    background: black;
    color:white;
    align-items: center;
    
}
.header{
    justify-content: unset;
    width: 100%;
}
.header label{
    padding: 0 10px 10px;
}
.layar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #2e2e2e;
    height: 75px;
    justify-content: flex-end;
}
.layarTeks{
    max-width: 100%;
    text-align: right;
    font-size: 25px;
    overflow-x: hidden;
    -webkit-user-select: text;
}
/* .layarTeks::-webkit-scrollbar{
    background: #000000d3;
} */
.keypad{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delpad,.oppad,.numberpad{
    display: flex;
    flex-wrap:wrap;
}
.delpad{
    flex-direction: row;
}
.oppad{
    flex-direction: column;
    width: 75px;
    margin:0 ;
}
.numberpad{    
    flex-direction: row-reverse;
    width: 225px;
    height: 375px;
    margin:0 ;
    justify-content: flex-start;
}
.tombol{
    min-height:75px;
    min-width:75px;
    color:white;
    text-align:center;
    margin:0 ;
    transition: all .1s ease-in-out;
}
.tombol:hover{
    cursor: pointer;
    background: #ffffffd3;
}
.tombol:active{
    background: white;
}
